<div class="container">
  <div class="adminLayout">
    <app-admin-header>Administration</app-admin-header>

    <div class="adminContainer">
      <app-admin-left-bar>Products</app-admin-left-bar>

      <div class="adminContent">
        <h1>Alla produkter</h1>

        <p *ngIf="error" style="color: red">{{ error }}</p>

        <app-product-table
          [products]="products"
          [isLoading]="isLoading"
          (refresh)="onRefresh()"
          (deleteProduct)="onDeleteProduct($event)">
        </app-product-table>
      </div>
    </div>
  </div>
</div>
