<section class="storAdminContainer">
  <header id="adminheader"></header>
  <div class="adminindexcontainer">
    <nav></nav>
    <article class="newProductMain">
      <h1 id="newProductTitle">Ny produkt</h1>
      <br />

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <h3>Namn</h3>
  <input type="text" formControlName="item" required />

  <h3>Beskrivning</h3>
  <textarea formControlName="description"></textarea>

  <h3>Bildfilnamn</h3>
  <input type="text" formControlName="image" placeholder="woman-coat-4.webp" required />

  <h3>Märke</h3>
  <input type="text" formControlName="brand" />

  <h3>SKU</h3>
  <input type="text" formControlName="sku" placeholder="ABC123" required />

  <h3>Pris</h3>
  <input type="text" formControlName="price" required />

  <h3>Publiceringsdatum</h3>
  <input type="date" formControlName="published" required />

  <button type="submit" [disabled]="productForm.invalid || isSubmitting">Lägg till</button>

  <p *ngIf="error" class="error">{{ error }}</p>
</form>

    </article>
  </div>
</section>
