<!-- Mobile / small version -->
<nav class="toppnav">
  <ul>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"><h2>Nyheter</h2></a>
    </li>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"
        ><h2>Topplistan</h2></a
      >
    </li>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"><h2>Rea</h2></a>
    </li>
    <li>
      <a [routerLink]="'/new'" class="customLink"><h2>Kampanjer</h2></a>
    </li>
  </ul>
</nav>

<!-- Desktop / large version -->
<nav class="toppnavLarge">
  <ul>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"><h2>Nyheter</h2></a>
    </li>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"
        ><h2>Kategorier</h2></a
      >
    </li>
    <li>
      <a [routerLink]="'/new'" class="customLink"><h2>Topplistan</h2></a>
    </li>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"><h2>Rea</h2></a>
    </li>
    <li>
      <a [routerLink]="'/admin-index'" class="customLink"><h2>Kampanjer</h2></a>
    </li>
  </ul>
</nav>
