<p>product-table works!</p>

<div class="table-wrapper">
  <div class="top-buttons">
    <button (click)="handleRefresh()" class="refresh-btn">
      <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon> Uppdatera
    </button>

    <button (click)="navigateToAddProduct()" class="new-btn">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon> Ny produkt
    </button>
  </div>

  <table class="admin-table">
    <thead>
      <tr>
        <th>Namn</th>
        <th>SKU</th>
        <th>Pris</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!products || products.length === 0">
        <td colspan="4">Inga produkter tillgängliga</td>
      </tr>

      <tr *ngFor="let product of products">
        <td>{{ product.item }}</td>
        <td>{{ product.sku || product.Sku }}</td>
        <td>{{ product.price }} kr</td>
        <td>
          <button
            (click)="onDeleteProduct(product.id)"
            class="delete-button"
            [disabled]="isLoading"
            aria-label="Ta bort produkt"
          >
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
