<div class="product-card" *ngIf="product && product.image; else invalidProduct">
  <img
    [src]="getSafeImagePath(getImageVariants(product.image.replace('.webp', '')).medium)"
    [srcset]="
      getSafeImagePath(getImageVariants(product.image.replace('.webp', '')).small) + ' 300w, ' +
      getSafeImagePath(getImageVariants(product.image.replace('.webp', '')).medium) + ' 400w, ' +
      getSafeImagePath(getImageVariants(product.image.replace('.webp', '')).large) + ' 500w'
    "
    sizes="(max-width: 639px) 300px, (max-width: 1023px) 400px, 500px"
    [alt]="product.item"
    class="product-image"
    (error)="($event.target as HTMLImageElement).src = '/assets/placeholder.webp'"
  />

  <div class="product-info">
    <h3>{{ product.item }}</h3>
    <p class="description" *ngIf="product.description">{{ product.description }}</p>
    <p class="brand">{{ product.brand }}</p>
    <p class="price">{{ product.price }} kr</p>
    <button class="add-to-cart-button" (click)="addToCart()">Lägg i varukorg</button>
  </div>
</div>

<ng-template #invalidProduct>
  <div class="product-card">Felaktig produktdata</div>
</ng-template>

