.adminHeader {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
  font-family: 'Playfair Display', cursive;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
