<section class="spots">
  <ul class="spot-list">
    <li *ngFor="let spot of topSpots; let i = index">
      <a
        class="spot-link"
        [routerLink]="spot.to || ['/']"
        [attr.aria-label]="spot.alt"
      >
        <figure class="spot-card">
          <img [src]="spot.src" [alt]="spot.alt" />

          <figcaption class="spot-caption" [ngClass]="['buy','our','clothes'][i]">
            {{ captions[i] }}
          </figcaption>
        </figure>
      </a>
    </li>
  </ul>
</section>
