<section class="icon-links">
  <ul class="list">
    <li class="list-item">
      <fa-icon [icon]="['fas', 'globe-americas']" class="icon"></fa-icon>
      <span>Gratis frakt och returer</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="['fas', 'plane']" class="icon"></fa-icon>
      <span>Expressfrakt</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="['fas', 'shield-alt']" class="icon"></fa-icon>
      <span>Säkra betalningar</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="['fas', 'smile']" class="icon"></fa-icon>
      <span>Nyheter varje dag</span>
    </li>
  </ul>
</section>
