<section class="icon-links">
  <ul class="list">
    <li class="list-item">
      <fa-icon [icon]="faGlobeAmericas" class="icon"></fa-icon>
      <span>Gratis frakt och returer</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="faPlane" class="icon"></fa-icon>
      <span>Expressfrakt</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="faShieldAlt" class="icon"></fa-icon>
      <span>Säkra betalningar</span>
    </li>
    <li class="list-item">
      <fa-icon [icon]="faSmile" class="icon"></fa-icon>
      <span>Nyheter varje dag</span>
    </li>
  </ul>
</section>
