<div class="carousel-container">
  <button
    (click)="scroll('left')"
    class="nav-button"
    aria-label="Scroll carousel left"
  >
    &lt;
  </button>

  <!-- OBS: #carouselRef kopplas till ViewChild i TS -->
  <div class="carousel" #carouselRef>
    <div *ngFor="let product of validProducts" class="carousel-item">
      <app-product-display
        [products]="[product]"
        [isCarouselItem]="true"
      ></app-product-display>
    </div>
  </div>

  <button
    (click)="scroll('right')"
    class="nav-button"
    aria-label="Scroll carousel right"
  >
    &gt;
  </button>
</div>
